h1 {
    color: rgb(15, 141, 72);
    margin: 50px;
    font-style: italic;
}

h2 {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(0, 0, 0);
    font-style: italic;
}

img {
    border-style: dashed;
    border-radius: 10px;
    border-width: 8px;
    border-color: red;
}